asttokens==3.0.0
attrs==25.3.0
beautifulsoup4==4.13.4
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
cloudpickle==3.1.1
colorama==0.4.6
comm==0.2.2
contourpy==1.3.2
curl_cffi==0.11.1
cycler==0.12.1
dask==2025.5.1
debugpy==1.8.14
decorator==5.2.1
dotenv==0.9.9
executing==2.2.0
fastjsonschema==2.21.1
fonttools==4.58.0
frozendict==2.4.6
fsspec==2025.5.1
idna==3.10
iniconfig==2.1.0
ipykernel==6.29.5
ipython==9.2.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
joblib==1.5.1
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.8.1
kiwisolver==1.4.8
locket==1.0.0
lxml==5.4.0
matplotlib==3.10.3
matplotlib-inline==0.1.7
mplfinance==0.12.10b0
multitasking==0.0.11
narwhals==1.41.0
nbformat==5.10.4
nest-asyncio==1.6.0
nltk==3.9.1
numpy==2.2.6
packaging==25.0
pandas==2.2.3
pandas-datareader==0.10.0
parso==0.8.4
partd==1.4.2
peewee==3.18.1
pillow==11.2.1
platformdirs==4.3.8
plotly==6.1.2
pluggy==1.6.0
polars==1.30.0
polars-talib==0.1.5
prompt_toolkit==3.0.51
protobuf==6.31.1
psutil==7.0.0
pure_eval==0.2.3
pyarrow==20.0.0
pycparser==2.22
Pygments==2.19.1
pynance==1.0.0
pyparsing==3.2.3
pytest==8.3.5
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
pywin32==310
PyYAML==6.0.2
pyzmq==26.4.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
rpds-py==0.25.1
seaborn==0.13.2
setuptools==80.9.0
six==1.17.0
soupsieve==2.7
stack-data==0.6.3
swifter==1.4.0
ta-lib @ file:///C:/Users/Tegbabu/sentiment-analysis-stock-week1/ta_lib-0.6.3-cp312-cp312-win_amd64.whl#sha256=fbf480e9e936ed983776c616f461f4d4511bb1d010424558db3f559aec10dcd4
textblob==0.19.0
toolz==1.0.0
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
wcwidth==0.2.13
websockets==15.0.1
yfinance==0.2.61
